# iRemote
dev/RemotePC.QT/debug
dev/RemotePC.QT/release
dev/RemotePC.QT/ui_*.h
dev/RemotePC.QT/moc_*.cpp
dev/RemotePC.QT/qrc_*.cpp
dev/RemotePC.QT/Makefile
dev/RemotePC.QT/Makefile.*
dev/RemotePC.QT/*.user
dev/RemotePC.QT/.qmake.*

# MacOS misc
.DS_Store
*~
__MACOSX
xcuserdata
.hg
.svn

# Android
bin/
gen/