<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scientificsoft.iremote.android.iremote"
    android:versionCode="4"
    android:versionName="1.0.3">
      
    <uses-sdk
    	android:minSdkVersion="3" 
    	android:targetSdkVersion="19" />
    	
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />
    <!--  android:xlargeScreens="true" --> 
    
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />        

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />	          
      
    <application 
    	android:name="iRemoteApp"
    	android:icon="@drawable/icon" 
    	android:label="@string/app_short_name">    
        <activity 
        	android:name=".ui.home.HomeActivity"
        	android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>    	
    	<activity 
    		android:name=".ui.home.SplashActivity"
    	    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
    	    android:theme="@android:style/Theme.NoTitleBar"/>
    	<activity 
    		android:name=".ui.home.LicenseActivity"
    	    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
    	    android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
        	android:name=".ui.home.HelpActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
        	android:name=".ui.home.AboutActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity 
        	android:name=".ui.control.ControlActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
            android:theme="@android:style/Theme.NoTitleBar"/>        
		<activity 
		    android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
		<meta-data 
		    android:name="com.crashlytics.ApiKey" 
		    android:value="1c51e83d4d0dc7bea62a746e20c2ad2c96734a17"/>
		<meta-data
		    android:name="LOCALYTICS_APP_KEY" 
		    android:value="4292f38c51caaa28612210a-51a48154-4b7f-11e0-c508-007af5bd88a0"/>
	</application> 	
        
</manifest> 
